.session__alert {
    width: 100%;
    color: black
}

.session__alert--success {
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 36px;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item__image {
    width: 25%;
    padding: 4%;
    aspect-ratio: 1;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

.item__image img {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    background-color: #d3d3d3;
}

.images {
    width: 50%;
    margin-top: 60px;
    padding: 4%;
}

.images__item {
    width: 80%;
    aspect-ratio: 0.9;
    margin: 0 auto;
    background-color: #d3d3d3;
}

.images__item img {
    width: 100%;
}

.detail {
    width: 50%;
    margin-top: 60px;
    padding: 4%;
}

.item__name {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 24px;
}

.price {
    display: flex;
    margin-bottom: 8px;
}

.icons {
    display: flex;
    margin-bottom: 40px;
}

.like {
    margin-right: 16px;
}

.like-count {
    display: block;
    text-align: center;
}

.comment__button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.comment__button i {
    color: black;
    margin: 0;
}

.comment--count {
    display: block;
    text-align: center;
}

.item-name-text {
    display: block;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 14px;
}

.item--title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 20px;
}

.item--price {
    font-size: 18px;
    margin-bottom: 8px;
}

.item--about {
    display: flex;
    margin-bottom: 30px;
}

.comments--user{
    display: flex;
    margin-bottom: 4px;
}

.comments--user.own-comment{
    display: flex;
    flex-direction: row-reverse;
}

.profile__image {
    background: #e0e0e0;
    width: 24px;
    height: 24px;
    border-radius:50%;
    margin-right: 8px;
}

.profile__image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

.comment--user{
    margin: 0 4%;
}

.delete--comment {
    margin-left: 4%;
}

.delete--comment--button {
    color: black;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    margin: auto 0;
    height: 100%;
    cursor: pointer;
}

.comments__content {
    background: #e0e0e0;
    margin-bottom: 16px;
    border-radius: 3px;
    padding: 4px;
}

.comments__detail {
    border: 1px sold grey;
    margin: 0;
}

.comment__form{
    width: 100%;
    height: 100px;
}

.submit__button{
    display: block;
    width: 100%;
    margin-top: 16px;
    font-size: 20px;
    line-height: 1.5;
    background: #eb4e00;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}

.pagination {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 0px 8px;
    border-radius: 3px;
    margin-bottom: 16px;
}

.pagination :hover{
    background: #eb4e00;
    color: #fff;
    padding: 0px 8px;
    border-radius: 3px;
}

.pagination a{
    text-decoration: none;
    display: block;
    width:100%;
    height: 100%;
    color: #eb4e00;
}

.pagination p {
    display: none;
}

.pagination span{
    display: none;
}

.pagination svg.w-5.h-5 {
    display:none;
}

.error-message {
    color: red;
}



@media (max-width:768px){
    .inner {
            display: flex;
            flex-direction:column;
        }
    .images {
            width: 100%;
            margin-top: 24px;
        }
    .detail {
        width: 100%;
        margin-top: 24px;
    }
}