.session__alert {
    width: 100%;
    color: black;
    margin-bottom: 8px;
}

.session__alert--success {
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 36px;
}

.title {
    text-align: center;
}

.header__heading{
    margin: 0 auto;
    padding: 8px 16px 8px 16px;
    width: 50%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.profile__image {
    width: 24%;
    min-width: 80px;
    aspect-ratio: 1;
    box-sizing: border-box;
    border-radius: 50%;
}

.profile__image img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #d3d3d3;
}

.file-upload {
    position: relative;
    display: inline-block;
    margin-right:10%;
}

.file-upload input[type="file"] {
    display: inline-block;
    position: absolute;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.custom-file-upload {
    width: 100%;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: transparent;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #eb4e00;
    color: #eb4e00;
}

.search--results{
    width: 90%;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.item__image {
    padding: 20px;
    box-sizing: border-box;
    width: 25%;
    aspect-ratio: 1;
}

.item__image img {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
}

.form__group {
    margin: 0 auto;
    padding: 10px 16px 10px 16px;
    width: 50%;
}

.form__title {
    display: block;
}

.form--input {
    margin: 0 auto;
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid grey;
    font-size: 20px;
    line-height: 1.5;
}

.update__button{
    margin: 20px auto 0px;
    padding: 4px 0;
    display: block;
    background: #eb4e00;
    color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-size: 20px;
}



@media (max-width:768px) {
    .header__heading {
        width: 80%;
    }

    .file-upload {
        width: 50%;
        min-width: 100px;
        margin-right: 10%;
    }

    .custom-file-upload{
        font-size: 12px;
        text-align: center;
    }

    .form__group {
        margin: 0 auto;
        padding: 10px 16px 10px 16px;
        width: 80%;
    }
}