.session__alert {
    width: 100%;
    color: black;
    margin-bottom: 8px;
}

.session__alert--success {
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 36px;
}

.inner{
    width: 50%;
    margin: 0 auto;
}
.title {
    text-align: center;
    font-size: 24px;
}

.image-block{
    width: 100%;
    height: 80px;
    border: 1px dotted grey;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    border-radius: 3px;
}

.file-upload {
    margin: 0 auto;
    position: relative;
    display: inline-block;
}

.file-upload input[type="file"] {
    position: absolute;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.custom-file-upload {
    width: 100%;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: transparent;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #eb4e00;
    color: #eb4e00;
}

.custom-file-upload:hover {
    background: #e0e0e0;
}

.item-title{
    color: grey;
    margin-top: 30px;
    margin-bottom: 8px;
    font-size: 18px;
}

.detail-title{
    display: block;
    font-weight: bold;
}

.detail-input{
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
}

.detail-input::placeholder {
    color: black;
    opacity: 1;
}

.item-detail{
    margin: 0 auto;
    margin-bottom: 48px;
}

.item-description{
    margin-bottom: 48px;
}

.sell__button {
    margin: 40px auto 40px;
    padding: 4px 0;
    display: block;
    background: #eb4e00;
    color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-size: 20px;
}

.full-width-line {
    left: 0;
    width: 100%;
    border-top: 1px solid grey;
    margin: 0px auto;
    padding: 4px;
}



@media (max-width:768px) {
    .inner {
        width: 80%;
        margin: 0 auto;
    }
}